@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 460px;
    margin: auto;
    padding: 10px 0 0 0;
    position: relative;
}

/* HEADER */
/* Hero1 */

header {
    width: 100%;
    padding: 10px 10px 0;
    position: fixed;
    z-index: 1000;
    background-color: white;
    top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input_div {
    position: relative;
}

header input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    border: 1.5px solid black;
}

header i {
    position: absolute;
    top: 4.5px;
    left: 6px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: black;
    color: white;
    padding: 4px 11px;
}

header .input_div:hover i {
    display: none;
}

/* Hero2 */

.ul_div {
    width: 100%;
    overflow-x: auto;
}

header ul {
    margin: 15px 0;
    display: flex;
    gap: 38px;
    list-style: none;
    width: 100%;
    position: relative;
}

header ul a {
    text-decoration: none;
    color: #7e7b7b;
    font-family: "Nunito", serif;
    font-weight: 700;
}

header ul a:hover {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

/* SECTION1 */

#main {
    margin-top: 100px;
}

#section1 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
}

#section1 div {
    width: 49%;
    position: relative;
}

#section1 div img {
    width: 100%;
}

#section1 div h5 {
    font-family: "Nunito", serif;
    color: #7e7b7b;
    font-weight: 400;
    margin: 5px 0;
}

#section1 div p {
    margin: 10px 0 50px;
    font-family: "Nunito", serif;
}

#section1 div p span {
    font-family: "Nunito", serif;
    font-size: 12px;
    color: #7e7b7b;
    text-decoration: line-through;
}

#cart {
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#cart:hover {
    background-color: black;
    color: white;
}

.number {
    width: 20%;
    position: absolute;
    bottom: 10px;
    left: 60px;
    display: none;
}

/* Section2 */

#section2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
}

#section2 div {
    width: 49%;
    position: relative;
}

#section2 div img {
    width: 100%;
}

#section2 div h5 {
    font-family: "Nunito", serif;
    color: #7e7b7b;
    font-weight: 400;
    margin: 5px 0;
}

#section2 div p {
    margin: 10px 0 50px;
    font-family: "Nunito", serif;
}

#section2 div p span {
    font-family: "Nunito", serif;
    font-size: 12px;
    color: #7e7b7b;
    text-decoration: line-through;
}

/* Section3 */

#section3 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
}

#section3 div {
    width: 49%;
    position: relative;
}

#section3 div img {
    width: 100%;
}

#section3 div h5 {
    font-family: "Nunito", serif;
    color: #7e7b7b;
    font-weight: 400;
    margin: 5px 0;
}

#section3 div p {
    margin: 10px 0 50px;
    font-family: "Nunito", serif;
}

#section3 div p span {
    font-family: "Nunito", serif;
    font-size: 12px;
    color: #7e7b7b;
    text-decoration: line-through;
}

/* Section4 */

#section4 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
}

#section4 div {
    width: 49%;
    position: relative;
}

#section4 div img {
    width: 100%;
}

#section4 div h5 {
    font-family: "Nunito", serif;
    color: #7e7b7b;
    font-weight: 400;
    margin: 5px 0;
}

#section4 div p {
    margin: 10px 0 50px;
    font-family: "Nunito", serif;
}

#section4 div p span {
    font-family: "Nunito", serif;
    font-size: 12px;
    color: #7e7b7b;
    text-decoration: line-through;
}

/* Section5 */

#section5 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
}

#section5 div {
    width: 49%;
    position: relative;
}

#section5 div img {
    width: 100%;
}

#section5 div h5 {
    font-family: "Nunito", serif;
    color: #7e7b7b;
    font-weight: 400;
    margin: 5px 0;
}

#section5 div p {
    margin: 10px 0 50px;
    font-family: "Nunito", serif;
}

#section5 div p span {
    font-family: "Nunito", serif;
    font-size: 12px;
    color: #7e7b7b;
    text-decoration: line-through;
}

/* Fixed footer */

.fixed-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.fixed-footer i {
    font-size: 30px; 
    color: black;
}

.fixed-footer i:hover {
    background-color: #fc6a04;
    color: white;
    padding: 2px 4px;
    border-radius: 50%;
}


@media (min-width:460px) {
    body {
        display: none;
    }
}