* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 768px;
    margin: auto;
    padding: 10px 10px 0;
    border: 1px solid black;
}

/* HEADER */

header {
    width: 100%;
}

.input_div {
    position: relative;
}

header input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    border: 1.5px solid black;
}

header i {
    position: absolute;
    top: 4.5px;
    left: 6px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: black;
    color: white;
    padding: 4px 11px;
}

header .input_div:hover i {
    display: none;
}