@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 408px;
    margin: auto;
    padding: 10px 0;
    /* border: 1px solid black; */
}

/* HEADER */
/* Hero1 */

header {
    width: 100%;
    padding: 10px 10px 0;
}

.input_div {
    position: relative;
}

header input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    border: 1.5px solid black;
}

header i {
    position: absolute;
    top: 4.5px;
    left: 6px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: black;
    color: white;
    padding: 4px 11px;
}

header .input_div:hover i {
    display: none;
}

/* Hero2 */

header ul {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    position: relative;
}

header ul a {
    text-decoration: none;
    color: #7e7b7b;
    font-family: "Nunito", serif;
    font-weight: 700;
}

header ul a:hover {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

/* SECTION1 */

#section1 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
}

#section1 div {
    width: 49%;
    /* border: 1px solid black; */
    position: relative;
}

#section1 div img {
    width: 100%;
}

#section1 div h5 {
    font-family: "Nunito", serif;
    color: #7e7b7b;
    font-weight: 400;
    margin: 5px 0;
}

#section1 div p {
    margin: 10px 0 50px;
    font-family: "Nunito", serif;
}

#section1 div p span {
    font-family: "Nunito", serif;
    font-size: 12px;
    color: #7e7b7b;
    text-decoration: line-through;
}

#cart {
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#cart:hover {
    background-color: #7e7b7b;
}

@media (min-width:408px) {
    body {
        display: none;
    }
}